<div class="row">
    <% form_for @contact do |f| %>
        <div class="form-group">
            <% f.label :name %>
            <% f.text_field :name %>
        </div>
        <div class="form-group">
            <% f.label :emails %>
            <% f.email_field :emails %>
        </div>
        <div class="form-group">
            <% f.label :comments %>
            <% f.text_area :comments %>
        </div>
    <% end %>
    
</div>